{% extends "blog/base.html" %}
{% load bootstrap_pagination %}
{% block title %}
  LLM智能博客 | 关于我
{% endblock %}
{% block path %}
  当前位置&nbsp;:&nbsp;<a href = "{% url 'home'%}">首页&nbsp;</a>»&nbsp;关于我
{% endblock %}
{% block content %}
  <div class="archive">
    <div id="archives">
      <h3 style="font-weight: bold">
        关于本站
      </h3>
      <blockquote>
        <p>1. 本站在杨学峰大佬的GitHub开源代码：<a target="_blank" href="https://github.com/a1401358759/my_site">my_site</a>上，进一步增加了由中文BERT、transformers处理博客数据后，由LLM大语言模型对用户问题进行回答，为个人打造的专属知识库博客。
          本项目的GitHub地址：<a target="_blank" href="https://github.com/fanji-jared/LangChain-LLM-PyBlog">LangChain-LLM-PyBlog</a><p>
        <p>2. 本站大部分文章是博主工作中遇到问题时，通过网络资源查找到的解决方法的总结记录，如有不当之处，请联系博主删除，敬请谅解！</p>
        <p>3. 本站建于 2024-01-01，已经稳定运行 <span id="timeDate" style="color:red;">载入天数...</span><span id="times" style="color:red;">载入时分秒...</span></p>
      </blockquote>

      <h3 style="font-weight: bold">
        关于我
      </h3>
      <blockquote>
        <p>1. 即将毕业的脆皮大学生一名</p>
        <p>2. 前后端开发，java swing以及python桌面客户端，Android APK开发</p>
        <p>3. 也会玩玩嵌入式，stc单片机，Arduino，嘉立创IDE，阿里云IOT</p>
      </blockquote>

      <h3 style="font-weight: bold">
        联系我
      </h3>
      <blockquote>
        <ul>
          <p><i class="fa fa-btc"></i>&nbsp;博客：<a href="{% url 'home' %}">LLM智能博客</a></p>
          <p><i class="fa fa-envelope-o"></i>&nbsp;邮箱：<a target="_blank" href="javascript:;">2967557176@qq.com</a></p>
          <p><i class="fa fa-github"></i>&nbsp;GitHub：<a target="_blank" href="https://github.com/fanji-jared/">繁寂</a></p>
          <p><i class="fa fa-qq"></i>&nbsp;QQ： <a target="_blank" href="javascript:;">2967557176</a></p>
          <p><i class="fa fa-weixin"></i>&nbsp;微信：<a href="javascript:;">xxxxxxxxx</a></p>
        </ul>
      </blockquote>
    </div>
  </div>
  <!-- 评论框div -->
  <div id="vcomments" class="widget widget_recent_comments">
    <!-- 评论表单 -->
    {% include "blog/comment_form.html" %}
    <!-- 评论列表 -->
    {% include "blog/comment_list.html" %}
  </div>

  <script type="text/javascript" src="/static/js/comments.js"></script>
  <script>
    var now = new Date();
    function createtime() {
      var grt = new Date("01/01/2024 00:00:00");  // 此处修改你的建站时间或者网站上线时间 月/日/年
      now.setTime(now.getTime() + 250);
      days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days);
      hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours);
      if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum);
      mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;}
      seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum);
      snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;}
      document.getElementById("timeDate").innerHTML = dnum +" 天 ";
      document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒。";
    }
    setInterval("createtime()", 250);
    jQuery(function(){
      // get_comments(window.location.pathname);
      if (getUrlParam('page')) {
        window.location.href = '#vcomments';
      }
    });
  </script>
{% endblock %}

{% block side %}
	{% include "blog/_side.html" %}
{% endblock %}
