<footer id="footer" class="main-footer no-print text-center">
  <div id="footer-content">
    <span>
      <a href="https://2967557176.wodemo.com" target="_blank">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAIAAAD9b0jDAAAAZklEQVR4Ae3SAQbAMAwF0N5i979Az1EKUEDIRcL2LdYSQm0Y/AciST5IISJorfVXcFgy5wclY2Zz43igFhHvowgj7+NwK3SJoQtDfwrN/kNVvY9i8yQ+/xgj9Gut/YYijLA8n5+ILuAAT0piy0ooAAAAAElFTkSuQmCC" height="30px">
      </a>
    </span>&nbsp;&nbsp;
    <span id="cc-myssl-id">
      <a href="https://myssl.com/2967557176.wodemo.com?status=q" target="_blank">
        <img src="/static/images/seal.png" height="35px">
      </a>
    </span>
    <br/><br/>
    <span>LLM智能博客&copy;2024&nbsp;<a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">蜀ICP备xxxxx号</a></span>
    <br/>
    <span>
      <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=xxxxxxxxxxxxxx" target="_blank">
        <img src="/static/images/beian.png"/>&nbsp;蜀公网安备 xxxxxxxxxxxxxx号
      </a>
    </span>
  </div>
</footer>
